.form-control{
				width: 200px;
				float:left;
			}
#footer {
	margin-top: 100px;
	color:blue;
	position:fixed;
	bottom:0px;
	left:10px;
}

html 	{ overflow-y:scroll; }
body { padding-top:50px; }
#address-list { margin-bottom:30px; }
			