<!DOCTYPE html>
<!-- ASSIGN OUR ANGULAR MODULE -->
<html data-ng-app="fmiFe">
	<head>
		<meta charset="urf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
		<title>Add new record</title>

		<!-- We have to install AngulaJS in this page -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
		
		<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		
		<!-- SCROLLS -->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<style type="text/css">
			html 					{ overflow-y:scroll; }
			body 					{ padding-top:50px; }
			#record-list 				{ margin-bottom:30px; }
		</style>
		
		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		
		<!-- SPELLS -->
		<!-- Custom code -->
		<!-- app.js needs to be included before maincontroller.js -->
		<script type="text/javascript" src="core.js"></script>
		<!-- <script type="text/javascript" src="maincontroller.js"></script> -->
	</head>

<!-- SET THE CONTROLLER AND GET ALL records -->
	<body ng-controller="mainController">
		<div class="container">
		    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
					<a class="navbar-brand" href="./">Svetlio's project</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="./">Index</a></li>
              <li class="active"><a href="add.html">Add New</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
					<!-- FORM TO CREATE records -->
				<div id="record-form" class="row">
				<div class="col-sm-8 col-sm-offset-2 text-center">
					<form>
						<div class="form-group">
							
							<!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
							<label><input type="text" class="form-control input-lg text-center" placeholder="First Name" ng-model="formData.fName">
							<input type="text" class="form-control input-lg text-center" placeholder="Last Name" ng-model="formData.lName">
							<input type="text" class="form-control input-lg text-center" placeholder="Address" ng-model="formData.address">
							<input type="text" class="form-control input-lg text-center" placeholder="Email" ng-model="formData.email">
							<input type="text" class="form-control input-lg text-center" placeholder="Phone Number" ng-model="formData.phone">
						<!-- createrecord() WILL CREATE NEW records -->
						<button type="submit" class="btn btn-primary btn-lg glyphicon glyphicon-plus-sign" ng-click="createRecord()">Add</button></label>
					</form>
				</div>
			</div>
			</div>
		</div>
	</body>
</html>