/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #66FFFF;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/*
 * Footer
 */

 /*
 * Jumbotron Heading Style
 */
 
 .jumbotron{
  text-align:center;
  color:rgb(192,192,192);
 }
 
 
 
.mastfoot {
  text-align: center;
  color: #999966; /* IE8 proofing */
  color: rgb(88,88,88);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}